<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Main Page{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'main/css/shop-homepage.css' %}" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main' %}">Online Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated  %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'myprofile' %}">Your profile: {{ user.username }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'singin' %}">Sing In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'singup' %}">Sing Up</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}

      <style>
                  button {
              border: none;
              outline: 0;
              display: inline-block;
              padding: 8px;
              color: white;
              background-color: #343a40;
              text-align: center;
              cursor: pointer;
              width: 100%;
              font-size: 18px;
            }



            button:hover, a:hover {
              opacity: 0.7;
            }
      </style>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Online Shop</h1>
        <div class="list-group">
          {% for category in categories_list %}
          <a href="categories/{{ category.slug }}" class="list-group-item">{{ category.name }}</a>
          {% endfor %}
        </div>

      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="{% static 'main/img/1.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'main/img/2.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="{% static 'main/img/3.jpg' %}" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
        </div>

        <div class="row">
          {% for product in products_list %}
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="{{ product.img.url }}"><img class="card-img-top" src="{{ product.img.url }}" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </h4>
                        <h5>{{ product.price }} сом</h5>
                        <p class="card-text">{{ product.description }}</p>
                      </div>
                      <div class="card-footer">
                        {% if user.is_authenticated %}
                            <button onclick="location.href='{% url 'about' %}'">Order</button>
                        {% else %}
                            <button onclick="location.href='{% url 'singin' %}'">Order</button>
                        {% endif %}
                      </div>
                    </div>
                  </div>
          {% endfor %}
        </div>
        <!-- /.row -->

      </div>
  {% endblock %}
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% block footer %}
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  {% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
